<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        .form-control {
            outline: none;
            box-shadow: none; /* Loại bỏ hiệu ứng đổ bóng của Bootstrap */
            border: none; /* Giữ màu viền mặc định */
        }

        .table td, .table th {
            vertical-align: middle;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="container w-100 d-flex justify-content-between">
            <button class="btn btn-primary mb-4" onclick="window.location.href = '/'">
                Quay lại trang chủ
            </button>
            {% if studentsSameGroup and studentsSameGroup|length > 0 %}
            <select name="" id="listStudents" style="padding:5px; margin-bottom: 20px;">
                {% for student in studentsSameGroup %}
                <option value="{{ student.msv }}" msv="{{ student.msv }}" {% if student.msv == request.GET.msv %}selected{% endif %}>{{ student.msv }} - {{ student.name }} </option>
                {% endfor %}
            </select>
            {% endif %}
        </div>
        <h2 class="text-center mb-4">PHIẾU ĐÁNH GIÁ CỦA HỘI ĐỒNG CHUYÊN MÔN </h2>
        <h4 class="text-center mb-4">Đối với Đồ án tốt nghiệp </h4>

        <div class="mb-4">
            <p>Chương trình đào tạo đại học chính quy ngành: Kỹ thuật điện điện tử
                
            </p>
            <p>Niên khóa: 2020 - 2025</p>
            <p>Họ và tên người chấm ĐA/KLTN:
                {{ name }}
            </p>
            <p>Đơn vị công tác: 
                {{ unit }}
            </p>
            <p>Tên đề tài: 
                {{ project_name }}
            </p>
            
        </div>

        

    <form method="POST" action="{% url 'process_form_hdcm_new' %}">
        {% csrf_token %}
        <input type="hidden" name="students_count" value="{{ students_count }}">
        <input type="hidden" name="lecturer_name" value="{{ name }}">
        <input type="hidden" name="project_type" value="{{ project_type }}">
        <input type="hidden" name="project_name" value="{{ project_name }}">
        <!-- Student List Table -->
        <div class="mb-4">
            <p class="mb-2">Sinh viên thực hiện đề tài:</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Họ và tên SV</th>
                        <th>Mã SV</th>
                        <th>Lớp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><input type="hidden" name="student_fullname_{{ forloop.counter }}" value="{{ student.name }}">{{ student.name }}</td>
                        <td><input type="hidden" name="student_msv_{{ forloop.counter }}" value="{{ student.msv }}">{{ student.msv }}</td>
                        <td><input type="hidden" name="student_class_{{ forloop.counter }}" value="{{ student.class_name }}">{{ student.class_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h4>II. KẾT QUẢ ĐÁNH GIÁ (Trọng số ...%)</h4>
        <p>Điểm mỗi tiêu chí tính theo thang điểm 10, làm tròn đến một số thập phân.</p>
        <p>
            Công thức tính điểm GPA: <br>
            <strong>GPA = Tổng điểm tiêu chí * trọng số</strong>
        </p>

        <table class="table table-bordered text-center align-middle" id="result-table">
            <thead class="table-light">
                <tr>
                    <th style="width: 20%;">CLO</th>
                    <th style="width: 20%;">Tiêu chí (PIs)</th>
                    <th>Trọng số</th>
                    <th colspan="5">Điểm đánh giá sinh viên</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% for student in students %}
                    <th>SV{{ forloop.counter }}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="1"><strong class="fs-6">CLO 3</strong>. Thiết kế phần cứng và phần mềm, phân tích dữ liệu để đánh giá hiệu quả hoạt động của hệ thống điện – điện tử</td>
                    <td>C3.3. Tiến hành được các thực nghiệm, cũng như phân tích, đánh giá và diễn giải các kết quả thực nghiệm.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC33SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td rowspan="1"><strong class="fs-6">CLO 4</strong>. Thể hiện được đạo đức và trách nhiệm nghề nghiệp trong các thiết kế, triển khai các hệ thống điện tử</td>
                    <td>C4.2. Giải thích được tác động của kết quả nghiên cứu đối với cộng đồng, xã hội, hoặc ngành nghề</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC42SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td rowspan="1"><strong class="fs-6">CLO 5</strong>. Vận dụng kỹ năng làm việc nhóm trong nhóm ngành điện tử hoặc trong nhóm đa ngành nhằm giải quyết vấn đề hiệu quả</td>
                    <td>C5.3. Hiệu quả giải quyết vấn đề của nhóm</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC53SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td rowspan="2"><strong class="fs-6">CLO 6</strong>. Vận dụng kĩ tốt năng giao tiếp trong ngành điện - điện tử</td>
                    <td>C6.3. Khả năng thuyết trình</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC63SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>C6.4. Khả năng giao tiếp đối thoại và trả lời các câu hỏi của hội đồng.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC64SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}
                </tr>
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <td colspan="3">Điểm GPA</td>
                    {% for student in students %}
                            <td><p class="text-center diemGPA" name="gpaSV{{ forloop.counter }}" id="diemGPASV{{ forloop.counter }}"></p></td>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>


        <div class="mt-4">
            <p><strong>Nhận xét khác (về ý thức, thái độ làm việc của sinh viên):</strong></p>
            <textarea class="form-control" rows="5"></textarea>
        </div>

        <div class="d-flex justify-content-center w-100"> 
            <button class="btn btn-primary mt-4 mb-5" id="submit" type="submit">
                Submit
            </button>
        </div>
    </form>
    </div>
</body>
</html>
<script>
    const dataPost = JSON.parse(localStorage.getItem('data'));
    const students = JSON.parse(localStorage.getItem('students'));
    
    const queryString = window.location.search;
    const msvInUrl = new URLSearchParams(queryString).get('msv');
    // const currentStudent = JSON.parse(localStorage.getItem('students'))[msvInUrl];
    const csrfToken = getCookie('csrftoken');
    
    // Gửi dữ liệu qua POST request
    fetch(`/hoiDongChuyenMon${queryString}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({ data: dataPost, students: students }),
    })
        .then(response => response.text())
        .then(html => {
            document.body.innerHTML = html; // Thay đổi DOM nếu cần
            changeMsv();
            autoFillGPA();
        });
    
    function getCookie(name) {
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            const [key, value] = cookie.trim().split('=');
            if (key === name) return decodeURIComponent(value);
        }
        return null;
    }
    
    function changeMsv(){
        if (document.getElementById('listStudents')){
            document.getElementById("listStudents").addEventListener("change", function () {
                var msv = this.value; 
                var url = new URL(window.location.href);
                
                url.searchParams.set('msv', msv);
                
                var groupType = url.searchParams.get('groupType');
                var group = url.searchParams.get('group');
                if (groupType) url.searchParams.set('groupType', groupType);
                if (group) url.searchParams.set('group', group);
                updateDataLocalStorage(msv);
                window.location.href = '/hoiDongChuyenMon' + url.search;
            });
        }
    }

    function updateDataLocalStorage(msv){
        const currentStudent = students[msv];
        let data = JSON.parse(localStorage.getItem('data'));
        let newData = {
            'formType': data['formType'],
            'name': data['name'],
            'projectType': data['projectType'],
            'projectName': currentStudent['project'],
            'unit': data['unit'],
            'students': currentStudent
        }
        localStorage.setItem('data', JSON.stringify(newData));
    }
    
    function autoFillGPA(){
        const inputs = document.querySelectorAll(".diem");
        const weights = document.querySelectorAll(".weight");
        inputs.forEach((input, index) => {
            input.addEventListener("input", function () {
                const studentId = parseInt(input.getAttribute('stt').slice(2)); // Lấy ID sinh viên
                const studentInputs = document.querySelectorAll(`.diemSV${studentId}`); // Lấy tất cả ô điểm của sinh viên
                const gpaInput = document.getElementById(`diemGPASV${studentId}`);
                let total = 0;
                let count = 0;

                studentInputs.forEach((i, index) => {
                    const value = parseFloat(i.value);
                    if (!isNaN(value)) {
                        const weight = parseFloat(weights[0].innerHTML.replace("%", "")) / 100
                        total += value * weight;
                        count++;
                    }
                });
                if (count === studentInputs.length) {
                    gpaInput.innerHTML = (total).toFixed(1); // Làm tròn đến 2 chữ số thập phân
                } else {
                    gpaInput.innerHTML = ""; // Nếu chưa đủ 4 ô, xóa giá trị GPA
                }
            });
        });
    }
</script>