<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phiếu người đánh giá lần 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        .form-control {
            outline: none;
            box-shadow: none; /* Loại bỏ hiệu ứng đổ bóng của Bootstrap */
            border: none; /* Giữ màu viền mặc định */
        }

        .table td, .table th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <button class="btn btn-primary mb-4" onclick="window.location.href = '/'">
            Quay lại trang chủ
        </button>
        <h2 class="text-center mb-4">PHIẾU ĐÁNH GIÁ QUÁ TRÌNH CỦA NGƯỜI HƯỚNG DẪN (Lần 3) </h2>
        <h4 class="text-center mb-4">Đối với Đồ án tốt nghiệp </h4>

        <div class="mb-4">
            <p>Chương trình đào tạo đại học chính quy ngành: Kỹ thuật điện điện tử
            </p>
            <p>Niên khóa: 2020 - 2025</p>
            <p>Họ và tên người hướng dẫn thứ nhất/ thứ hai: 
                {{ name }}
            </p>
            <p>Đơn vị công tác: 
                {{ unit }}
            </p>
            <p>Tên đề tài: 
                {{ project_name}}
            </p>
            
        </div>

         
    <form id="evaluationForm">
        {% csrf_token %}
        <input type="hidden" name="students_count" value="{{ students_count }}">
        <input type="hidden" name="lecturer_name" value="{{ name }}">
        <input type="hidden" name="project_type" value="{{ project_type }}">
        <input type="hidden" name="project_name" value="{{ project_name }}">
        <!-- Student List Table -->
        <div class="mb-4">
            <p class="mb-2">Sinh viên thực hiện đề tài:</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Họ và tên SV</th>
                        <th>Mã SV</th>
                        <th>Lớp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><input type="hidden" name="student_fullname_{{ forloop.counter }}" value="{{ student.name }}">{{ student.name }}</td>
                        <td><input type="hidden" name="student_msv_{{ forloop.counter }}" value="{{ student.msv }}">{{ student.msv }}</td>
                        <td><input type="hidden" name="student_class_{{ forloop.counter }}" value="{{ student.class_name }}">{{ student.class_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h4>II. KẾT QUẢ ĐÁNH GIÁ (Trọng số ...%)</h4>
        <p>Điểm mỗi tiêu chí tính theo thang điểm 10, làm tròn đến một số thập phân.</p>
        <p>
            Công thức tính điểm GPA: <br>
            <strong>GPA = Tổng điểm tiêu chí * trọng số</strong>
        </p>

        <table class="table table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th style="width: 20%;">CLO</th>
                    <th style="width: 20%;">Tiêu chí (PIs)</th>
                    <th>Trọng số</th>
                    <th colspan= "{{ students_count }}">Điểm đánh giá sinh viên</th>
                </tr>
                <tr id="num-students-col">
                    <th></th>
                    <th></th>
                    <th></th>
                    {% for student in students %}
                    <th>SV{{ forloop.counter }}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr id="c2-3">
                    <td rowspan="1"><strong class="fs-6">CLO 2</strong>. Phân tích giải pháp liên quan đến lĩnh vực điện - điện tử đảm bảo các yêu cầu kỹ thuật và đáp ứng mục tiêu đặt ra.</td>
                    <td>C2.3. Trình bày được giải pháp để giải quyết vấn đề thực tiễn đặt ra liên quan đến đồ án.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                    <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC23SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}

                </tr>
                <tr id="c3.2">
                    <td rowspan="1"><strong class="fs-6">CLO 3</strong>. Thiết kế phần cứng và phần mềm, phân tích dữ liệu để đánh giá hiệu quả hoạt động của hệ thống điện – điện tử</td>
                    <td>C3.2. Thiết kế được các hệ thống điện tử đáp ứng yêu cầu đề ra.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                    <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC32SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}

                </tr>
                <tr id="c4.1">
                    <td rowspan="1"><strong class="fs-6">CLO 4</strong>. Thể hiện được đạo đức và trách nhiệm nghề nghiệp trong các thiết kế, triển khai các hệ thống điện tử</td>
                    <td>C4.1. Nhận thức và thực hiện trách nhiệm nghề nghiệp, đạo đức trong thiết kế và triển khai hệ thống điện - điện tử.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                    <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC41SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}

                </tr>
                <tr id="c6.1">
                    <td rowspan="2"><strong class="fs-6">CLO 6</strong>. Vận dụng kĩ tốt năng giao tiếp trong ngành điện - điện tử</td>
                    <td>C6.1. Khả năng viết và bố cục của báo cáo.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC61SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}

                </tr>
                <tr id="c6.2">
                    <td>C6.2. Khả năng cung cấp dữ liệu để minh chứng cho đồ án.</td>
                    <td class="weight">20%</td>
                    {% for student in students %}
                            <td><input type="number" class="form-control text-center diemSV{{ forloop.counter }} diem" stt="SV{{ forloop.counter}}" name="diemC62SV{{ forloop.counter }}" min="0" max="10" step="0.1"></td>
                    {% endfor %}

                </tr>
            </tbody>
            <tfoot class="table-light">
                <tr id="gpa">
                    <td colspan="3">Điểm GPA</td>
                    {% for student in students %}
                            <td><input class="text-center diemGPA" name="gpaSV{{ forloop.counter }}" id="diemGPASV{{ forloop.counter }}" readonly style="border: none; outline: none; background-color: #f8f9fa;"></input></td>

                    {% endfor %}

                </tr>
            </tfoot>
        </table>
        


        <div class="mt-4">
            <p><strong>Nhận xét khác (về ý thức, thái độ làm việc của sinh viên):</strong></p>
            <textarea class="form-control" rows="5" style="border: 1px solid #000"></textarea>
        </div>

        <div class="d-flex justify-content-center w-100"> 
            <button class="btn btn-primary mt-4 mb-5" id="submit" type="submit">
                Submit
            </button>
        </div>
    </form>
    </div>
</body>
</html>
<script type="module">
    import { getCookie, autoFillGPA, submitForm } from "../static/js/utils.js";

    const dataPost = JSON.parse(localStorage.getItem('data'));
    const listMsvOfStudent  = window.location.search;
    const csrfToken = getCookie('csrftoken');

    fetch(`/huongdan3${listMsvOfStudent}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({ data: dataPost }),
    }).then(response => response.text())
    .then(html => {
        document.body.innerHTML = html; // Thay đổi DOM nếu cần
        autoFillGPA();
        submitForm("{% url 'process_form_hd3' %}");
    });
</script>